#container {
    border: 2px;
    border-style: solid;
    width: 800px;
    height: 645px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 400px;


}

#heading {
    font-size: 40px;
    font-family: serif;
    background-color: #473adf;
    text-align: center;
}

#flex {
    display: flex;
    justify-content: space-between;
}

#detail {
    font-size: 25px;
}

#name,
#college,
#location {
    font-size: 20px;
    margin-top: 25px;
    font-family: serif;
}

#namebox,
#collegenamebox,
#locationbox {
    padding: 5px;
    width: 270px;
    border-style: groove;
    border-radius: 10px;
    border-color: blue;
    height: 25px;
    font-family: serif;
    font-size: 20px;
    text-align: center;


}

#filename {
    margin-top: 20px;
}

#generatecard {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    font-family: serif;
    background-color: #473adf;
    color: white;

}

i {
    position: absolute;
    margin-left: 5px;
    margin-top: 9px;
}

.heading2 {
    font-size: 25px;
    font-family: serif;

}

#container2 {
    border-right: 2px;
    border-right: solid;
    width: 350px;
    height: 600px;
    background-color: #cecbf4;


}

#previewimg {
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.flex2 {
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 150px;
    border: 2px;
    border-style: groove;
    border-radius: 25px;
    background-color: #473adf;
    width: 400px;
    margin-left: 20px;

}




#container3 {

    text-align: center;

    border: none;
    width: 450px;
    height: 600px;



}

#image {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border-style: groove;

}

#container4 {
    border: 1px;
    margin-left: 2px;
    width: 350px;
    height: 200px;
    text-align: left;
    align-items: center;
    border-radius: 0px 25px 25px 0px;
    background-color: #cecbf4;


}

#name12,
#college_name12,
#location_name12 {
    font-family: serif;
    margin-top: 30px;
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 5px;



}