
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

/React Assignment-1/node_modules
/07-Node-JS-Assignment/node_modules
/08-Express-JS-Assignment/node_modules
/09-Full-Stack-Capstone-Project-1/client/node_modules
/09-Full-Stack-Capstone-Project-1/server/node_modules
/10-Full-Stack-Capstone-Project-2/client/node_modules
/10-Full-Stack-Capstone-Project-2/server/node_modules
